@font-face {
  font-family: 'Dubai';
  font-weight: 700;
  src: url('DubaiW23-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Dubai';
  font-weight: 400;
  src: url('DubaiW23-Regular.woff') format('woff');
}